* {
    font-family: Arial, Helvetica, sans-serif;
}

.section {
    background-color: #f4eded;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid #CCC;
}

input {
    border-radius: 7px;
    border: none !important;
    padding: 9px 15px;
    margin-bottom: 5px;
    background-color: #ccefcc;
}

input::placeholder {
    color: #528552;
    opacity: 1;
}

label {
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
}

h2 {
    text-transform: uppercase;
}

button {
    padding: 6px 11px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #c3fdc3;
}

#error {
    color: red;
}

#selecionaCalculo {
    border-radius: 7px;
    border: none !important;
    padding: 8px 12px;
    margin-bottom: 5px;
    background-color: #ccefcc;
}